<!DOCTYPE html>
<html>

<head>
  <title>TheoryKraft</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.css" />
    
    <link rel="icon" type="image/x-icon" href="images/tkicon.ico" />
    <script src="https://kit.fontawesome.com/64585f28ed.js" crossorigin="anonymous"></script>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.31.0/js/jquery.fileupload.min.js' %>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
</head>

<body class="bg-orange-200">
  <!-- added for devise -->
  <% if user_signed_in? %>
    <%= render 'components/nav' %>
  <% end %>
  <% unless alert.nil? %>
    <%= render 'components/alert_toast' %>
  <% end %>
  <% unless notice.nil? %>
    <%= render 'components/notice_toast' %>
  <% end %>

  <%= yield %>
  
  <script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.1/"
        }
    }
</script>

<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Bold,
        Italic,
        Font,
        Paragraph,
        Heading
    } from 'ckeditor5';
    setInterval(function(){ $(".toast").fadeOut(); }, 3000);
    ClassicEditor
        .create( document.querySelector( '#article_body' ), {
            plugins: [ Essentials, Bold, Italic, Font, Paragraph, Heading],
            toolbar: {
                items: [
                    'heading','undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                ]
            }
        } )
        .then( /* ... */ )
        .catch( /* ... */ );
</script>
</body>

</html>